In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Recommendation_data.xlsx')

In [3]:
df

,customer_id,Recommendation_name,Recommendation_date,suggestion_type,purchase_flag
0,1.0,Recommend_screenguard,2021-07-02,With phone,0.0
1,2.0,Recommend_screenguard,2021-07-03,With phone,0.0
2,3.0,Recommend_screenguard,2021-07-04,With cover,1.0
3,4.0,Recommend_screenguard,2021-07-05,With phone,0.0
4,5.0,Recommend_screenguard,2021-07-06,With cover,1.0
...,...,...,...,...,...
863,864.0,Recommend_screenguard,2023-11-12,With cover,1.0
864,865.0,Recommend_screenguard,2023-11-13,With phone,1.0
865,866.0,Recommend_screenguard,2023-11-14,With cover,1.0
866,867.0,Recommend_screenguard,2023-11-15,With phone,1.0
867,868.0,Recommend_screenguard,2023-11-16,With cover,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          711 non-null    float64
 1   Recommendation_name  711 non-null    object
 2   Recommendation_date  711 non-null    datetime64[ns]
 3   suggestion_type      711 non-null    object
 4   purchase_flag        711 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 34.0+ KB

In [5]:
df['suggestion_type'].value_counts()

With phone    375
With cover    336
Name: suggestion_type, dtype: int64

In [6]:
df.isnull().sum()

customer_id            157
Recommendation_name    157
Recommendation_date    157
suggestion_type        157
purchase_flag          157
dtype: int64

In [9]:
df.dropna(inplace = True)

In [10]:
df

,customer_id,Recommendation_name,Recommendation_date,suggestion_type,purchase_flag
0,1.0,Recommend_screenguard,2021-07-02,With phone,0.0
1,2.0,Recommend_screenguard,2021-07-03,With phone,0.0
2,3.0,Recommend_screenguard,2021-07-04,With cover,1.0
3,4.0,Recommend_screenguard,2021-07-05,With phone,0.0
4,5.0,Recommend_screenguard,2021-07-06,With cover,1.0
...,...,...,...,...,...
863,864.0,Recommend_screenguard,2023-11-12,With cover,1.0
864,865.0,Recommend_screenguard,2023-11-13,With phone,1.0
865,866.0,Recommend_screenguard,2023-11-14,With cover,1.0
866,867.0,Recommend_screenguard,2023-11-15,With phone,1.0
867,868.0,Recommend_screenguard,2023-11-16,With cover,1.0

In [12]:
df.groupby('suggestion_type')['purchase_flag'].value_counts()

suggestion_type  purchase_flag
With cover       0.0              206
                 1.0              130
With phone       0.0              258
                 1.0              117
Name: purchase_flag, dtype: int64

In [1]:
#crosstab

In [17]:
CT_tab = pd.crosstab(df['suggestion_type'], df['purchase_flag']).values
CT_tab

array([[206, 130],
       [258, 117]], dtype=int64)

In [19]:
with_phone_rate = 117/(117+258)
with_cover_rate = 130/(130+206)

print(with_phone_rate, with_cover_rate)

0.312 0.3869047619047619

In [20]:
null_hypothesis = "There is no relationship between purchase rate and recommendation type. They are independent"
alternate_hypothesis = "There is a relationship between purchase rate and recommendation type. They are not independent"

In [21]:
from scipy.stats import chi2_contingency
chi2_statistic, p_value, dof, expected_values = chi2_contingency(CT_tab, correction = False)
print(chi2_statistic, p_value)

4.385751976925068 0.03624050241176425

In [22]:
prob = 0.95
alpha = 1.0 - prob
print('significance = %.3f , p = %.3f' % (alpha, p_value))
if p_value <= alpha:
    print("Dependent, we can reject H0 safely")
else:
    print("Independent, No sufficient evidence reject H0 safely")

significance = 0.050 , p = 0.036
Dependent, we can reject H0 safely

- So, A/B test specifies that we can reject H0 safely.